@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700|Lato:300);

@import "entypo";

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font: 300 1.1em 'Lato', sans-serif;
}

code {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #DDD;
    border-radius: 3px;
    background: #F5F5F5;
    text-align: center;
    color: #777;
}

a {
    text-decoration: none;
    color: #EF4D4D;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;

    @media(min-width: 860px) {
        padding: 0;
    }
}

.content {
    h1, h2, h3, h4 h4, h5, p {
        margin-bottom: 1em;
    }
    pre code {
        display: block;
        text-align: left;
    }
     ul {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 20px;
    }
    p.lead {
        font-size: 1.2em;
    }

    .container {
        padding-bottom: 4em;
    }
}

.header {
    padding: 50px 0;
    text-align: center;

    h1 {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        font: 700 3rem 'Dancing Script', serif;
    }
    img {
        width: 128px;
        height: 128px;
    }
    code {
        margin-top: 2em;
    }
}

.footer {
    margin-bottom: 2em;
    text-align: center;
    color: #777;

    .love {
        color: #F15F5F;
    }
}

.coming-soon .container {
    padding-bottom: 2em;
}

.github {
    position: absolute;
    top: 0;
    right: 0;

    a:before {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 100px 100px 0;
        border-color: transparent #181616 transparent transparent;
        content: '';
    }

    .icon-github-circled {
        position: relative;
        top: 9px;
        left: -9px;
        z-index: 1;
        font-size: 2em;
        color: #FFF;
    }
}

@import "example";