@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700|Lato:300);

@import "entypo";

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font: 300 1.1em 'Lato', sans-serif;
    background: #FFF;
    color: #333;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1em;
}

code {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #DDD;
    border-radius: 6px;
    background: #F5F5F5;
    text-align: center;
    color: #777;
}

a {
    text-decoration: none;
    color: #E3343A;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;

    @media(min-width: 860px) {
        padding: 0;
    }
}

.content {
    h1, h2, h3, h4 h4, h5, p {
        margin-bottom: 1em;
    }
    pre code {
            display: block;
            text-align: left;
    }
    pre + h1, pre + h2 {
        margin-top: 1em;
    }
     ul {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 20px;
    }

    .container {
        padding-bottom: 4em;
    }
}

.header {
    padding: 50px 0;
    text-align: center;

    h1 {
        display: inline-block;
        position: relative;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        font: 700 3rem 'Dancing Script', serif;

        .version {
            position: absolute;
            top: 0;
            right: -50px;
            padding: 3px 6px;
            vertical-align: top;
            border-radius: 3px;
            background: #F5F5F5;
            font-family: 'Lato', sans-serif;
            font-size: 0.2em;
            color: #AAA;
        }
    }
    .logo {
        display: block;
        width: 128px;
        margin: 0 auto;

        &:before, &:after, figure:before, figure:after, .droplets {
            position: absolute;
            z-index: -1;
            content: '';
            transform-origin: 50% 50%;
        }

        &:hover {
            img, &:before, &:after, figure:after, .droplets {
                animation: none;
            }
        }

        figure:before {
            z-index: 0;
            width: 180px;
            height: 3px;
            border-radius: 3px;
            background: rgba(41, 41, 51, 0.8);
            transform: translate(-24px, 111px);
        }

        figure:after {
            width: 150px;
            height: 40px;
            border-radius: 50%;
            background: rgba(150, 150, 150, 0.85);
            transform: translate(-76px, -30px);
            animation: shadow 6000ms ease-in-out infinite;
        }
        @keyframes shadow {
            0% {
                transform: translate(-76px, -30px) scale(1);
            }
            50% {
                transform: translate(-76px, -30px) scale(0.95);
            }
            100% {
                transform: translate(-76px, -30px) scale(1);
            }
        }

        img {
            position: relative;
            z-index: 1;
            width: 128px;
            height: 128px;
            animation: bounce-logo 6000ms ease-in-out infinite;
        }
        @keyframes bounce-logo {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-6px);
            }
            100% {
                transform: translateY(0);
            }
        }

        &:before {
            width: 185px;
            height: 185px;
            border-radius: 50%;
            background: rgba(233, 233, 233, 0.5);
            transform: translate(-94px, -28px);
            animation: pulse-before 2000ms ease-in-out infinite;
        }
        @keyframes pulse-before {
            0% {
                transform: translate(-94px, -28px) scale(1);
            }
            50% {
                transform: translate(-94px, -28px) scale(1.05);
            }
            100% {
                transform: translate(-94px, -28px) scale(1);
            }
        }
        &:after {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: rgba(245, 245, 245, 0.5);
            transform: translate(-127px, -194px);
            animation: pulse-after 2000ms ease-in-out infinite;
            animation-delay: 200ms;
        }
        @keyframes pulse-after {
            0% {
                transform: translate(-127px, -194px) scale(1);
            }
            50% {
                transform: translate(-127px, -194px) scale(1.05);
            }
            100% {
                transform: translate(-127px, -194px) scale(1);
            }
        }

        .droplets {
            width: 15px;
            height: 3px;
            border-radius: 6px;
            background: #F00;

            &:nth-of-type(1) {
                transform: rotate(21deg) translate(-16px, 21px);
            }
            &:nth-of-type(2) {
                transform: rotate(42deg) translate(-11px, 9px);
            }
            &:nth-of-type(3) {
                transform: rotate(65deg) translate(-11px, -3px);
            }
        }
    }
    code {
        margin-top: 2em;
    }
    nav {
        margin-top: 2em;

        a {
            &:after {
                margin: 0 1em;
                color: #777;
                content: '|';
            }
            &:last-child:after {
                margin: 0;
                content: '';
            }
        }
    }
}

.footer {
    margin-bottom: 2em;
    text-align: center;
    color: #777;

    .love {
        color: #F15F5F;
    }
}

.coming-soon .container {
    padding-bottom: 2em;
}

.tasks {
    h2 {
        margin-top: 1em;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.social {
    .twitter a {
        color: #4099FF;
    }
}

.github-corner {
    position: absolute;
    top: 0;
    right: 0;

    &:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }

    @media(max-width: 500px) {
        &:hover .octo-arm {
            animation: none;
        }

        .octo-arm {
            animation: octocat-wave 560ms ease-in-out;
        }
    }
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0);
    }
    20%, 60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

@import "example";
