.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.log
npm-debug.log*

node_modules
.npm

tests/build